.wrapper {
  padding: 25px;
  .header {
    background-color: lightgray;
    border-radius: 15px;
    padding: 12px;
    h3 {
      display: inline-block;
    }
  }
  .forms-list {
    margin-top: 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    border: 2px solid lightgrey;
    padding: 12px;
    .item {
      background: white;
      padding: 10px;
      border-radius: 7px;
      width: 220px;
      box-shadow: 0 0px 9px -4px black;
      text-align: center;
      position: relative;
      display: inline-block;
      margin: 10px;
      p {
        text-align: left;
      }
      .icon {
        font-size: 44px;
        width: 45px;
        height: 45px;
        color: gray;
      }
      .labels {
        font-weight: bold;
      }
      .actions-btn {
        button {
          margin: 5px;
          background: none;
          border-radius: 7px;
          border: none;
          box-shadow: 0 0 7px -3px;
          padding-top: 6px;
        }
        .edit {
          background-color: rgb(255, 255, 107);
        }
        .delete {
          background-color: rgb(255, 80, 80);
        }
      }
    }
  }
}
