.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  .toolbar {
    flex-basis: 100%;
    padding: 0;
    .menu-btn {
      margin-right: 15px;
    }
    .spacer {
      flex: 1 1 auto;
    }
  }
  .sidenav {
    height: calc(100% - 65px);
    background-color: #2f4050;
    margin-top: -1px;
    .active-route {
      background-color: #222e3a;
    }
    .item-list {
      &:hover {
        background-color: #222e3a;
      }
      .side-item {
        color: white;
        &.active {
          color: #00a59a;
        }
      }
    }
    .mat-list-text {
      padding: 0 !important;
      color: #8595a2;
      h4 {
        white-space: nowrap;
      }
    }
  }
  .content {
    height: calc(100% - 65px);
    flex-grow: 1;
    margin-top: -1px;
    flex: 1;
  }
}
