<div class="wrapper">
  <mat-toolbar class="toolbar" color="primary">
    <button class="menu-btn" (click)="isExpanded = !isExpanded" mat-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Angular dynamic form builder</span>
    <span class="spacer"></span>
  </mat-toolbar>
  <div class="sidenav">
    <mat-nav-list>
      <mat-list-item [class.active-route]="activeRoute===1" class="item-list" (click)="navigate('dashboard');activeRoute = 1">
        <mat-icon mat-list-icon class="side-item">dashboard</mat-icon>
        <div class="mat-list-text">
          <h4 *ngIf="isExpanded" [@inOutAnimation]>Dashboard</h4>
        </div>
      </mat-list-item>
      <mat-list-item [class.active-route]="activeRoute===2" class="item-list" (click)="navigate('dashboard/form-builder');activeRoute = 2">
        <mat-icon mat-list-icon class="side-item">note_add</mat-icon>
        <div class="mat-list-text">
          <h4 *ngIf="isExpanded" [@inOutAnimation]>Form builder</h4>
        </div>
      </mat-list-item>
      <mat-list-item [class.active-route]="activeRoute===3" class="item-list" (click)="navigate('dashboard/form-list');activeRoute = 3">
        <mat-icon mat-list-icon class="side-item">list_alt</mat-icon>
        <div class="mat-list-text">
          <h4 *ngIf="isExpanded" [@inOutAnimation]>Forms list</h4>
        </div>
      </mat-list-item>
      <mat-list-item [class.active-route]="activeRoute===4" class="item-list" (click)="navigate('dashboard/users-groups');activeRoute = 4">
        <mat-icon mat-list-icon class="side-item">supervised_user_circle</mat-icon>
        <div class="mat-list-text">
          <h4 *ngIf="isExpanded" [@inOutAnimation]>Users groups</h4>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>