.wrapper {
  padding: 25px;
  .header {
    background-color: lightgray;
    border-radius: 15px;
    padding: 12px;
    h3 {
      display: inline-block;
    }
  }
  .form-builder {
    margin-top: 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    border: 2px solid lightgrey;
    padding: 12px;
    .field-form {
      .save-field-btn {
        display: block;
        margin: auto;
      }
    }
    .add-field-btn {
      text-align: right;
      margin: 0 20px;
      button {
        background-color: lightgreen;
      }
    }
    .fields-container {
      .item {
        background: white;
        padding: 10px;
        border-radius: 7px;
        width: 220px;
        box-shadow: 0 0px 9px -4px black;
        text-align: center;
        position: relative;
        display: inline-block;
        margin: 10px;
        p {
          text-align: left;
        }
        .remove-icon {
          color: red;
          position: absolute;
          right: 0;
          top: 0;
          cursor: pointer;
        }
        .icon {
          font-size: 44px;
          width: 45px;
          height: 45px;
          color: gray;
        }
        .labels {
          font-weight: bold;
        }
      }
    }
    .save-form {
      text-align: center;
      margin: 10px;
    }
  }
}
