<div class="wrapper">
    <div class="header">
        <h3>Form builder</h3>
    </div>
    <div class="form-builder">
        <form class="form-builder-form" id="form" [formGroup]="buildForm" (ngSubmit)="addForm(formDirective)"
            #formDirective="ngForm">
            <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-6 col-xl-6">
                <mat-label>Form name</mat-label>
                <input matInput placeholder="Information form" formControlName="name">
                <mat-error *ngIf="(buildForm.touched || invalidSubmit) && buildForm.invalid">Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-6 col-xl-6">
                <mat-label>Users Groups</mat-label>
                <mat-select multiple formControlName="users">
                    <mat-form-field class="col-12 mt-2">
                        <input matInput (input)="filter($event.target.value)" type="text" name="filter-options"
                            id="filter-options" placeholder="Search">
                    </mat-form-field>
                    <mat-option *ngFor="let option of filteredUserGroups" [value]="option.id">
                        {{option.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="(buildForm.touched || invalidSubmit) && buildForm.invalid">one user group is required
                    at least
                </mat-error>
            </mat-form-field>
        </form>
        <div class="add-field-btn">
            <button mat-raised-button (click)="openDialog()">Add new field</button>
        </div>
        <div class="fields-container" *ngIf="fields.length">
            <h5>Fields List:</h5>
            <div class="item" *ngFor="let field of fields; let i = index">
                <mat-icon class="remove-icon" (click)="fields.splice(i,1)">highlight_remove</mat-icon>
                <mat-icon class="icon">featured_play_list</mat-icon>
                <p><span class="labels">name:</span> {{field.name}}</p>
                <p><span class="labels">label:</span> {{field.label}}</p>
                <p><span class="labels">type:</span> {{field.type}}</p>
            </div>
        </div>
        <div class="save-form" *ngIf="fields.length">
            <button mat-raised-button form="form" color="primary">Save Form</button>
        </div>
    </div>
</div>