<h1 mat-dialog-title>New field</h1>
<div mat-dialog-content>
    <form class="field-form" [formGroup]="fieldForm" (ngSubmit)="addField()">
        <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-4 col-xl-4">
            <mat-label>Name</mat-label>
            <input matInput placeholder="firstname" formControlName="name">
            <mat-error *ngIf="fieldForm.touched && fieldForm.invalid">name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-4 col-xl-4">
            <mat-label>Label</mat-label>
            <input matInput placeholder="Firstname" formControlName="label">
            <mat-error *ngIf="fieldForm.touched && fieldForm.invalid">label is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-4 col-xl-4">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option value="int">integer</mat-option>
                <mat-option value="string">string</mat-option>
                <mat-option value="text">text or html</mat-option>
                <mat-option value="date">date</mat-option>
                <mat-option value="period">period of date</mat-option>
                <mat-option value="list">select from list</mat-option>
                <mat-option value="radio">radio button</mat-option>
                <mat-option value="checkbox">checkbox</mat-option>
            </mat-select>
            <mat-error *ngIf="fieldForm.touched && fieldForm.invalid">type is required, select one</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-4 col-xl-4">
            <mat-label>Description</mat-label>
            <input matInput placeholder="some info about field" formControlName="description">
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-4 col-xl-4">
            <mat-label>Validation pattern</mat-label>
            <input matInput placeholder="{A-z0-9}" formControlName="pattern">
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-4 col-xl-4">
            <mat-label>Display Format</mat-label>
            <mat-select formControlName="format">
                <mat-option value="raw">raw text</mat-option>
                <mat-option value="comma">3 digit comma seperated</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-4 col-xl-4">
            <mat-label>Users Groups</mat-label>
            <mat-select multiple formControlName="users">
                <mat-form-field class="col-12 mt-2">
                    <input matInput (input)="filter($event.target.value)" type="text" name="filter-options"
                        id="filter-options" placeholder="Search">
                </mat-form-field>
                <mat-option *ngFor="let option of filteredUserGroups" [value]="option.id">
                    {{option.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="fieldForm.touched && fieldForm.invalid">one user group is required at least</mat-error>
        </mat-form-field>
        <mat-slide-toggle formControlName="isRequired" class="col-12 col-md-6 col-lg-4 col-xl-4">Is Required
        </mat-slide-toggle>
    </form>
</div>
<div mat-dialog-actions class="actions">
    <button mat-raised-button (click)="dialogRef.close()" class="cancel-btn">Cancel</button>
    <button mat-raised-button class="add-btn" (click)="addField()">Add</button>
</div>