.wrapper {
  background-image: url("../../../assets/images/login-bg.png");
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
  .login-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.8);
    padding: 35px;
    border: 2px solid gray;
    border-radius: 12px;
    text-align: center;
    .login-form {
      mat-form-field {
        display: block;
      }
    }
  }
}
