<div class="wrapper">
    <div class="login-form-container">
        <h3>Login</h3>
        <br>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="johnfoo@example.com" formControlName="email" required>
                <mat-error *ngIf="loginForm.touched && loginForm.invalid">please enter a valid email</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput type="password" formControlName="password" required>
                <mat-error *ngIf="loginForm.touched && loginForm.invalid">password is required</mat-error>
            </mat-form-field>
            <button class="btn btn-primary" type="submit">login</button>
        </form>
    </div>
</div>