<div class="wrapper">
    <div class="header">
        <h3>Users Groups</h3>
        <div class="add-group-btn">
            <button mat-raised-button (click)="openDialog()">Add new group</button>
        </div>
    </div>
    <div class="users-group-list" *ngIf="groups">
        <div *ngFor="let form of groups" class="item">
            <mat-icon class="icon">featured_play_list</mat-icon>
            <p><span class="labels">Name: </span> {{form.name}}</p>
            <div class="actions-btn">
                <button title="view form">
                    <mat-icon class="">remove_red_eye</mat-icon>
                </button>
                <button class="edit" title="edit form">
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="delete" title="delete form">
                    <mat-icon>delete_forever</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>