<h1 mat-dialog-title>User Group</h1>
<div mat-dialog-content>
    <form class="user-form" [formGroup]="userForm" (ngSubmit)="submit()">
        <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-6 col-xl-6">
            <mat-label>Name</mat-label>
            <input matInput placeholder="public group" formControlName="name">
            <mat-error *ngIf="userForm.touched && userForm.invalid">name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-6 col-xl-6">
            <mat-label>Users</mat-label>
            <mat-select multiple formControlName="users">
                <mat-form-field class="col-12 mt-2">
                    <input matInput (input)="filter($event.target.value)" type="text" name="filter-options"
                        id="filter-options" placeholder="Search">
                </mat-form-field>
                <mat-option *ngFor="let option of filteredUsers" [value]="option.id">
                    {{option.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.touched && userForm.invalid">one user is required at least</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-6 col-xl-6">
            <mat-label>Access on forms</mat-label>
            <mat-select multiple formControlName="formAccess">
                <mat-option value="none">None</mat-option>
                <mat-option value="submit">Submit</mat-option>
                <mat-option value="view">View</mat-option>
                <mat-option value="edit">Edit</mat-option>
                <mat-option value="delete">Delete</mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.touched && userForm.invalid">form access is required, select one</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-6 col-xl-6">
            <mat-label>Access on fields</mat-label>
            <mat-select multiple formControlName="fieldAccess">
                <mat-option value="none">None</mat-option>
                <mat-option value="submit">Submit</mat-option>
                <mat-option value="view">View</mat-option>
                <mat-option value="edit">Edit</mat-option>
                <mat-option value="delete">Delete</mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.touched && userForm.invalid">field access is required, select one</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="actions">
    <button mat-raised-button (click)="dialogRef.close()" class="cancel-btn">Cancel</button>
    <button mat-raised-button class="add-btn" (click)="submit()">Add</button>
</div>