<!-- message box -->
<div id="message-box" [ngClass]="messageBox && messageBox.type ? messageBox.type : ''">
    <button class="close-btn" (click)="messageBox = {}">&times;</button>
    <p>
        {{messageBox && messageBox.message ? messageBox.message : ''}}
    </p>
</div>
<!-- loading bar -->
<div class="loader-container" *ngIf="count>0">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

</div>